# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
.next/
out/
dist/
build/

# Environment
.env
.env.local
.env*.local

# Logs
logs/
*.log
npm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Coverage
coverage/

# Misc
*.tsbuildinfo
next-env.d.ts
